@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide the slider thumb by default */
input[type="range"]::-webkit-slider-thumb,
.playlist-container::-webkit-slider-thumb {
  opacity: 0;
}

input[type="range"]::-moz-range-thumb,
.playlist-container::-moz-range-thumb {
  opacity: 0;
}

/* Show the slider thumb when the slider is hovered */
input[type="range"]:hover::-webkit-slider-thumb,
.playlist-container:hover::-webkit-slider-thumb {
  opacity: 1;
}

input[type="range"]:hover::-moz-range-thumb,
.playlist-container:hover::-moz-range-thumb {
  opacity: 1;
}

/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar,
.playlist-container::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track,
.playlist-container::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb,
.playlist-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0); /* Make it transparent by default */
  border-radius: 5px;
}

/* When the #library container is hovered, show the scrollbar thumb */
#library:hover::-webkit-scrollbar-thumb,
.playlist-container:hover::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:active,
.playlist-container::-webkit-scrollbar-thumb:active {
  background: #555; /* Show it with a solid color on hover or active state */
}

/* For Firefox */
#library,
.playlist-container {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0) transparent; /* Make it transparent by default */
}

#library:hover,
.playlist-container:hover {
  scrollbar-color: #555 transparent; /* Show it with a solid color on hover */
}

.playlist-container {
  overflow-y: overlay;
}

.custom-shadow {
    box-shadow: 0px 5px 10px 0px #000;
}